@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f0f0f0;
  font-family: 'Inter', sans-serif;
}

#root {
  width: 100vw;
  height: 100vh;
}
